@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  background-color: #F1F4F6;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background: white;
}

.nav_bar img {
  display: inline-block;
  width: 300px;
  height: auto;
}

.nav_links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-right: 40px;
  margin-top: 0;
  margin-bottom: 0;
  color: black;
}

#timeline_slider, #stacked_lending, #word_cloud, #chartdiv, #country_spending, .reference {
  background: white;
  margin: 20px;
  padding: 30px;
}

.reference {
  font-size: 14px;
}

#chartdiv {
  margin-bottom: 0;
  height: 250px;
}

#stacked_lending {
  margin-top: 0;
  height: 250px;
}

#mortality_bar, .condition {
  background: white;
  margin: 20px;
  padding: 30px;
  padding-bottom: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.health {
  width: 100%;
}

.econ {
  width: 100%;
}

.selection {
  margin-top: 2%;
  margin-left: 70%;
}

.title {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.condName {
  margin-top: -3%;
  margin-right: 1%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.mortName {
  text-align: center;
}

.active {
  font-weight: bold;
}

.slider_title {
  font-size: large;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}

#slider {
  margin-left: 20px;
  margin-top: 30px;
}

/* .slider_background {
  background-image: url("./bg.png") ;
  background-repeat: no-repeat;
  background-position: 0px 7px;
  background-size: 860px;
}  */

